
:root{
    --mainColor: #eaeaea;
    --secondaryColor: #fff;

    --borderColor: #c1c1c1;
    
    --mainText: black;
    --secondaryText: #4b5156;

    --themeDotBorder: #24292e;

    --previewBg: rgb(251, 249, 243, 0.8);

    --previewShadow: #f0ead6;

    --buttonColor: black;
}

html, body {
    padding: 0;
    margin: 0;
}

body *{
    transition: 0.3s;
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}

p, li, span, label, input, textarea {
    color: var(--secondaryText);
    font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
    color: #17a2b8;
}

ul {
    list-style: none;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}

h1 {
    text-align: center;
}

h3 {
    padding: 0;
    margin: 0;
    margin-left: 50px;
}

h5 {
    padding: 0;
    margin: 0;
    margin-left: 50px;
}



p {
    margin-left: 50px;
    text-align: left;
    
}

li {
    margin-left: 50px;
}

.nav-wrapper {
    margin-top: 50px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    gap: 25px;
}


.intro {
    text-align: center;
    align-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#sucess-image {
    width: 500px;
    height: 500px;
}

#prod-image {
    width: 500px;
    height: 500px;
}

.reference {
    margin-left: 70px;
}

#ref-2 {
    margin-left: 170px;
}

#ref-3 {
    margin-left: 170px;
}





